.card {
  width: 60vw;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: aqua;
  height: 50vh;
}

.card p {
  border-bottom: solid 2px black;
}

.carousel-item > img {
  width: 55vw;
}
